In [43]:
from fastai.tabular import *

In [55]:
path = Path('project_data/heart_disease')
mydata = pd.read_csv(path/'hdisease.csv')

In [45]:
dep_var = 'DEATH_EVENT'
cat_names = ['anaemia', 'diabetes', 'high_blood_pressure', 'sex', 'smoking']
cont_names = ['creatinine_phosphokinase', 'age', 'ejection_fraction', 'platelets', 'serum_creatinine', 'serum_sodium','time']
procs = [FillMissing, Categorify, Normalize]

In [46]:
mydata

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.90,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.10,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.30,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.90,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.70,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.10,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.20,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.10,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.50,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.40,133,1,1,10,1
10,75.0,1,81,0,38,1,368000.00,4.00,131,1,1,10,1
11,62.0,0,231,0,25,1,253000.00,0.90,140,1,1,10,1
12,45.0,1,981,0,30,0,136000.00,1.10,137,1,0,11,1
13,50.0,1,168,0,38,1,276000.00,1.10,137,1,0,11,1
14,49.0,1,80,0,30,1,427000.00,1.00,138,0,0,12,0
15,82.0,1,379,0,50,0,47000.00,1.30,136,1,0,13,1
16,87.0,1,149,0,38,0,262000.00,0.90,140,1,0,14,1
17,45.0,0,582,0,14,0,166000.00,0.80,127,1,0,14,1
18,70.0,1,125,0,25,1,237000.00,1.00,140,0,0,15,1
19,48.0,1,582,1,55,0,87000.00,1.90,121,0,0,15,1
20,65.0,1,52,0,25,1,276000.00,1.30,137,0,0,16,0
21,65.0,1,128,1,30,1,297000.00,1.60,136,0,0,20,1
22,68.0,1,220,0,35,1,289000.00,0.90,140,1,1,20,1
23,53.0,0,63,1,60,0,368000.00,0.80,135,1,0,22,0
24,75.0,0,582,1,30,1,263358.03,1.83,134,0,0,23,1
25,80.0,0,148,1,38,0,149000.00,1.90,144,1,1,23,1
26,95.0,1,112,0,40,1,196000.00,1.00,138,0,0,24,1
27,70.0,0,122,1,45,1,284000.00,1.30,136,1,1,26,1
28,58.0,1,60,0,38,0,153000.00,5.80,134,1,0,26,1
29,82.0,0,70,1,30,0,200000.00,1.20,132,1,1,26,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,56.0,1,135,1,38,0,133000.00,1.70,140,1,0,244,0
268,45.0,0,582,1,38,0,302000.00,0.90,140,0,0,244,0
269,40.0,0,582,1,35,0,222000.00,1.00,132,1,0,244,0
270,44.0,0,582,1,30,1,263358.03,1.60,130,1,1,244,0
271,51.0,0,582,1,40,0,221000.00,0.90,134,0,0,244,0
272,67.0,0,213,0,38,0,215000.00,1.20,133,0,0,245,0
273,42.0,0,64,0,40,0,189000.00,0.70,140,1,0,245,0
274,60.0,1,257,1,30,0,150000.00,1.00,137,1,1,245,0
275,45.0,0,582,0,38,1,422000.00,0.80,137,0,0,245,0
276,70.0,0,618,0,35,0,327000.00,1.10,142,0,0,245,0
277,70.0,0,582,1,38,0,25100.00,1.10,140,1,0,246,0
278,50.0,1,1051,1,30,0,232000.00,0.70,136,0,0,246,0
279,55.0,0,84,1,38,0,451000.00,1.30,136,0,0,246,0
280,70.0,0,2695,1,40,0,241000.00,1.00,137,1,0,247,0
281,70.0,0,582,0,40,0,51000.00,2.70,136,1,1,250,0
282,42.0,0,64,0,30,0,215000.00,3.80,128,1,1,250,0
283,65.0,0,1688,0,38,0,263358.03,1.10,138,1,1,250,0
284,50.0,1,54,0,40,0,279000.00,0.80,141,1,0,250,0
285,55.0,1,170,1,40,0,336000.00,1.20,135,1,0,250,0
286,60.0,0,253,0,35,0,279000.00,1.70,140,1,0,250,0
287,45.0,0,582,1,55,0,543000.00,1.00,132,0,0,250,0
288,65.0,0,892,1,35,0,263358.03,1.10,142,0,0,256,0
289,90.0,1,337,0,38,0,390000.00,0.90,144,0,0,256,0
290,45.0,0,615,1,55,0,222000.00,0.80,141,0,0,257,0
291,60.0,0,320,0,35,0,133000.00,1.40,139,1,0,258,0
292,52.0,0,190,1,38,0,382000.00,1.00,140,1,1,258,0
293,63.0,1,103,1,35,0,179000.00,0.90,136,1,1,270,0
294,62.0,0,61,1,38,1,155000.00,1.10,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.20,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.80,138,0,0,278,0

In [48]:
data = (TabularList.from_df(mydata, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(238,296)))
                           .label_from_df(cols=dep_var)
                           #.add_test(test)
                           .databunch())

In [49]:
data.show_batch(rows=10)

In [50]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [51]:
learn.fit(4)

In [23]:
learn.fit(1, 1e-2)

In [66]:
row = mydata.iloc[0]

In [67]:
row

age                             75.0
anaemia                          0.0
creatinine_phosphokinase       582.0
diabetes                         0.0
ejection_fraction               20.0
high_blood_pressure              1.0
platelets                   265000.0
serum_creatinine                 1.9
serum_sodium                   130.0
sex                              1.0
smoking                          0.0
time                             4.0
DEATH_EVENT                      1.0
Name: 0, dtype: float64

In [68]:
learn.predict(row)

(Category tensor(1), tensor(1), tensor([0.1257, 0.8743]))